In [1]:
import numpy as np
import pandas as pd

In [29]:
all_podcasts_with_channel = pd.read_json("all_podcasts_with_channel.json")
all_podcasts_with_channel.head()

,index,cid,data,user_suid
0,0,2598530,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...",17293748.0
1,1,4894772,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...",17293748.0
2,2,1423226,"{'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...",7697322.0
3,3,1482589,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...",16024112.0
4,4,2356600,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...",16024112.0

In [44]:
channels_df = all_podcasts_with_channel[['cid', 'user_suid', 'data']].set_index('cid')
channels_df.head()

          user_suid                                               data
cid
2598530  17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...
4894772  17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1423226   7697322.0  {'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...
1482589  16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...
2356600  16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...

In [45]:
def categories(cid):
    return channels_df['data'][cid]['categories']

In [46]:
categories(4894772)

[10004, 10039]

In [47]:
def title(cid):
    return channels_df['data'][cid]['title']

In [48]:
title(4894772)

'رادیو راه با مجتبی شکوری'

In [49]:
categories(2598530)

[10004, 10039]