In [1]:
import numpy as np
import pandas as pd
from collections import Counter
from tqdm import tqdm as tqdm

In [2]:
followers_df = pd.read_csv("/Users/marzie/Documents/Data/followers_df.csv")
followers = followers_df[['user_id', 'podcaster_id']].set_index('user_id')
followers.head()

          podcaster_id
user_id
38719947      21543729
37434280      21543729
22013860      21543729
28885466      21543729
30848189      21543729

In [3]:
all_podcasts_with_channel = pd.read_json("all_podcasts_with_channel.json")
all_podcasts_with_channel.rename(columns= {'user_suid':'podcaster_id'}, inplace = True)
all_podcasts = all_podcasts_with_channel[['cid', 'podcaster_id', 'data']].set_index('cid')
all_podcasts.head()

         podcaster_id                                               data
cid
2598530    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...
4894772    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1423226     7697322.0  {'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...
1482589    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...
2356600    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...

In [4]:
my_podcasts = pd.read_csv('my_podcasts_df.csv')
my_cids_list = my_podcasts['cid'].tolist()

In [5]:
my_podcast_with_data = all_podcasts.loc[my_cids_list].reset_index()
my_podcast_with_data

          cid  podcaster_id                                               data
0     4894772    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1     2356600    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...
2     4857685    16682348.0  {'uid': 'b188e784539c480c84c173b29675e858', 'e...
3     2748108    14199420.0  {'uid': 'af088f29b89a422198b86988b2619c4f', 'e...
4     2400145    15814516.0  {'uid': '8097ad5aa05d4e9eba396743f11c658d', 'e...
...       ...           ...                                                ...
3875  5423676    20495886.0  {'uid': '4cc555ff69ed431a94c7b7cffb7fd91d', 'o...
3876  2131745    13501707.0  {'uid': '68d77f432d5d4ae29029f266b3cabd61', 'e...
3877  4711535    24170434.0  {'uid': '18a9ef1a3bf447e7b26f315796842ab3', 'e...
3878  5297748    18840456.0  {'uid': 'c65835ff048448e3820ebd9f1e676fe1', 'o...
3879  3631144    18930934.0  {'uid': 'e61cb2a5e9c34261a17fb808620260d7', 'o...

[3880 rows x 3 columns]

In [6]:
list_of_categories = [[] for i in range(len(my_podcast_with_data))]
all_categories = []

for i in range(len(my_podcast_with_data)):
    category_i = my_podcast_with_data['data'][i]['categories']
    list_of_categories[i] = category_i
    all_categories = all_categories + category_i

In [8]:
category_dict = dict(Counter(all_categories))
keyslist = list(category_dict.keys())
values = list(category_dict.values())
sorted_value_index = np.argsort(values)
sorted_dict = {keyslist[i]: values[i] for i in sorted_value_index}
sorted_dict

{10122: 1,
 10120: 1,
 10121: 1,
 10116: 2,
 10052: 2,
 10111: 2,
 10051: 3,
 10109: 3,
 10055: 3,
 10093: 3,
 10069: 4,
 10065: 4,
 10079: 4,
 10049: 5,
 10050: 5,
 10094: 6,
 10096: 6,
 10089: 7,
 10038: 7,
 10126: 8,
 10128: 8,
 10081: 9,
 10060: 10,
 10034: 10,
 10061: 10,
 10016: 10,
 10064: 12,
 10130: 12,
 10092: 12,
 10085: 12,
 10037: 12,
 10127: 14,
 10077: 14,
 10098: 15,
 10036: 15,
 10097: 15,
 10045: 16,
 10099: 17,
 10047: 18,
 10025: 18,
 10006: 19,
 10078: 20,
 10024: 21,
 10076: 22,
 10090: 25,
 10117: 25,
 10067: 27,
 10112: 27,
 10068: 29,
 10074: 30,
 10053: 30,
 10070: 33,
 10082: 33,
 10054: 33,
 10027: 35,
 10124: 35,
 10073: 36,
 10057: 37,
 10029: 39,
 10056: 40,
 10087: 42,
 10072: 42,
 10042: 45,
 10080: 47,
 10062: 48,
 10106: 49,
 10095: 51,
 10129: 54,
 10031: 60,
 10026: 62,
 10023: 65,
 10105: 66,
 10100: 72,
 10104: 74,
 10102: 74,
 10041: 76,
 10040: 83,
 10107: 85,
 10013: 86,
 10030: 88,
 10005: 96,
 10032: 97,
 10046: 103,
 10033: 115,
 10103: 131,
 10063: 134,
 10035: 137,
 10003: 137,
 10011: 148,
 10083: 148,
 10066: 158,
 10007: 158,
 10125: 180,
 10015: 180,
 10048: 183,
 10075: 223,
 10010: 223,
 10123: 223,
 10008: 234,
 10058: 263,
 10059: 286,
 10044: 291,
 10043: 317,
 10091: 335,
 10071: 348,
 10009: 348,
 10012: 376,
 10022: 447,
 10028: 546,
 10002: 557,
 10101: 828,
 10039: 977,
 10004: 977,
 10014: 1050,
 10021: 1055,
 10001: 1256}

In [234]:
# category_dic

In [237]:
#list_of_categories

In [201]:
def categories(user_id):
    
    categories=[]
    
    podcaster_id_s = followers.loc[user_id]['podcaster_id'].tolist()
    
    index = my_podcast_with_data[my_podcast_with_data['podcaster_id'].isin(podcaster_id_s)].index.values.tolist() 
    
    for i in range(len(index)):
        categories = categories + list_of_categories[index[i]]
        
    sorted_categories = [key for key, value in Counter(categories).most_common()]
    
    return sorted_categories

In [187]:
list_of_user_ids = list(set(followers.index.values.tolist()))

In [193]:
list_of_users_category = [[] for i in range(len(list_of_user_ids))]

In [207]:
# for i, user_id in tqdm(enumerate(list_of_user_ids)):
#     list_of_users_category[i] = categories(user_id)

In [204]:
list_of_user_ids[1]

25165828

In [206]:
podcaster_id_s = followers.loc[user_id]['podcaster_id'].tolist()
podcaster_id_s

15814516

In [209]:
# a = dict(Counter(MyList))

In [11]:
#find out how many podcasters each user follows
follower_df_user_id_s = followers.index.values.tolist() 
user_sub = dict(Counter(follower_df_user_id_s))

In [12]:
following_df = pd.DataFrame(list(user_sub.items()), columns=['user_id', 'following']).set_index('user_id')

In [14]:
following_df

          following
user_id
38719947         20
37434280         11
22013860        185
28885466         40
30848189         58
...             ...
20988834          1
23768266          1
21034578          1
19144548          1
18734387          1

[4316446 rows x 1 columns]

In [18]:
len(following_df[following_df['following'] > 4].index.values.tolist())

1690671

In [21]:
my_followers = followers.loc[following_df[following_df['following'] > 4].index.values.tolist()]

In [22]:
my_followers

          podcaster_id
user_id
38719947      21543729
38719947      23250574
38719947      14077619
38719947      20358403
38719947      14078348
...                ...
21290714      19385935
21290714      16045081
21290714      20517596
21290714      15092940
21290714      13855237

[18599616 rows x 1 columns]

In [24]:
remove_categorys = set([10001, 10021, 10014, 10004, 10039])
test = set([1, 2, 10001])
test - remove_categorys

2

In [35]:
def categories(user_id):
    
    remove_categorys = set([10001, 10021, 10014, 10004, 10039])
    
    categories=[]
    
    podcaster_id_s = my_followers.loc[user_id]['podcaster_id'].tolist()
    
    index = my_podcast_with_data[my_podcast_with_data['podcaster_id'].isin(podcaster_id_s)].index.values.tolist() 
    
    for i in range(len(index)):
        categories = categories + list_of_categories[index[i]]
        
    sorted_categories = [key for key, value in Counter(categories).most_common()]
    
    sorted_categories_rm = set(sorted_categories) - remove_categorys
    
    return len(sorted_categories), len(sorted_categories_rm), sorted_categories, sorted_categories_rm

In [36]:
list_of_my_user_ids = following_df[following_df['following'] > 4].index.values.tolist()

In [37]:
len(list_of_my_user_ids)

1690671

In [ ]:
number_of_categories = np.zeros(len(list_of_my_user_ids))
number_of_categories_rm = np.zeros(len(list_of_my_user_ids))
sorted_categories = [[] for i in range(len(list_of_my_user_ids))]
sorted_categories_rm = [[] for i in range(len(list_of_my_user_ids))]

for i, user_id in enumerate(tqdm((list_of_my_user_ids))):
    user_categories = categories(user_id)
    number_of_categories[i] = user_categories[0]
    number_of_categories_rm[i] = user_categories[1]
    sorted_categories[i] = user_categories[2]
    sorted_categories_rm[i] = user_categories[3]

 14%|████▍                          | 241976/1690671 [39:51<3:57:35, 101.62it/s]

In [40]:
sorted_categories = [[] for i in range(len(list_of_my_user_ids))]