In [2]:
import numpy as np
import pandas as pd

In [14]:
all_podcasts_with_channel = pd.read_json("all_podcasts_with_channel.json")
all_podcasts_with_channel

,index,cid,data,user_suid
0,0,2598530,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...",17293748.0
1,1,4894772,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...",17293748.0
2,2,1423226,"{'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...",7697322.0
3,3,1482589,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...",16024112.0
4,4,2356600,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...",16024112.0
...,...,...,...,...
11685,15617,5555920,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0
11686,15618,5574434,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0
11687,15619,5643972,"{'uid': '22232cbc34df46dab695614c42cfd037', 'e...",24138607.0
11688,15620,5655619,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0
11689,15621,5670506,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0

In [16]:
all_podcasts = all_podcasts_with_channel[['cid', 'user_suid', 'data']].set_index('cid')
all_podcasts.head()

          user_suid                                               data
cid
2598530  17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...
4894772  17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1423226   7697322.0  {'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...
1482589  16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...
2356600  16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...

In [18]:
my_podcasts = pd.read_csv('my_podcasts_df.csv')
my_podcasts

,Unnamed: 0,cid,podcaster_id,title,episode_count,sub_count,primary_cid,name
0,1,4894772,17293748.0,رادیو راه با مجتبی شکوری,120,1468883,NaN,رادیو راه
1,4,2356600,16024112.0,ChannelB پادکست فارسی,96,931763,NaN,ChannelB Podcast
2,64,4857685,16682348.0,جافکری | Jafekri,120,853001,NaN,Amirali Gh
3,149,2748108,14199420.0,پادکست رخ,77,771371,NaN,amir soodbakhsh
4,9,2400145,15814516.0,صلح درون,177,747731,NaN,سپهر خدابنده
...,...,...,...,...,...,...,...,...
3875,1947,5423676,20495886.0,Feminairan,2,0,5324947.0,مجيد فيضيان
3876,2715,2131745,13501707.0,کول 1 موزیک,1,0,NaN,رسانه نواهنگ دانلود سنتر آهنگ ایرانی
3877,972,4711535,24170434.0,کرژنگ 123,2,0,NaN,asansor podcast
3878,4132,5297748,18840456.0,کتابشنو,47,0,4498811.0,peyman reshadi
3879,2302,3631144,18930934.0,Weekly Lies (دروغ های هفتگی),7,0,3627800.0,ID18930934

In [26]:
my_cids_list = my_podcasts['cid'].tolist()

In [33]:
my_podcast_with_data = all_podcasts.loc[my_cids_list]
my_podcast_with_data

          user_suid                                               data
cid
4894772  17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
2356600  16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...
4857685  16682348.0  {'uid': 'b188e784539c480c84c173b29675e858', 'e...
2748108  14199420.0  {'uid': 'af088f29b89a422198b86988b2619c4f', 'e...
2400145  15814516.0  {'uid': '8097ad5aa05d4e9eba396743f11c658d', 'e...
...             ...                                                ...
5423676  20495886.0  {'uid': '4cc555ff69ed431a94c7b7cffb7fd91d', 'o...
2131745  13501707.0  {'uid': '68d77f432d5d4ae29029f266b3cabd61', 'e...
4711535  24170434.0  {'uid': '18a9ef1a3bf447e7b26f315796842ab3', 'e...
5297748  18840456.0  {'uid': 'c65835ff048448e3820ebd9f1e676fe1', 'o...
3631144  18930934.0  {'uid': 'e61cb2a5e9c34261a17fb808620260d7', 'o...

[3880 rows x 2 columns]

In [45]:
def categories(cid):
    return channels_df['data'][cid]['categories']

In [46]:
categories(4894772)

[10004, 10039]

In [47]:
def title(cid):
    return channels_df['data'][cid]['title']

In [48]:
title(4894772)

'رادیو راه با مجتبی شکوری'

In [49]:
categories(2598530)

[10004, 10039]