In [195]:
import numpy as np
import pandas as pd
from collections import Counter
from tqdm import tqdm as tqdm

In [174]:
followers_df = pd.read_csv("/Users/marzie/Documents/Data/followers_df.csv")
followers = followers_df[['user_id', 'podcaster_id']].set_index('user_id')
followers.head()

          podcaster_id
user_id
38719947      21543729
37434280      21543729
22013860      21543729
28885466      21543729
30848189      21543729

In [229]:
all_podcasts_with_channel = pd.read_json("all_podcasts_with_channel.json")
all_podcasts_with_channel.rename(columns= {'user_suid':'podcaster_id'}, inplace = True)
all_podcasts = all_podcasts_with_channel[['cid', 'podcaster_id', 'data']].set_index('cid')
all_podcasts.head()

         podcaster_id                                               data
cid
2598530    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...
4894772    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1423226     7697322.0  {'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...
1482589    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...
2356600    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...

In [230]:
my_podcasts = pd.read_csv('my_podcasts_df.csv')
my_cids_list = my_podcasts['cid'].tolist()

In [231]:
my_podcast_with_data = all_podcasts.loc[my_cids_list].reset_index()
my_podcast_with_data

          cid  podcaster_id                                               data
0     4894772    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1     2356600    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...
2     4857685    16682348.0  {'uid': 'b188e784539c480c84c173b29675e858', 'e...
3     2748108    14199420.0  {'uid': 'af088f29b89a422198b86988b2619c4f', 'e...
4     2400145    15814516.0  {'uid': '8097ad5aa05d4e9eba396743f11c658d', 'e...
...       ...           ...                                                ...
3875  5423676    20495886.0  {'uid': '4cc555ff69ed431a94c7b7cffb7fd91d', 'o...
3876  2131745    13501707.0  {'uid': '68d77f432d5d4ae29029f266b3cabd61', 'e...
3877  4711535    24170434.0  {'uid': '18a9ef1a3bf447e7b26f315796842ab3', 'e...
3878  5297748    18840456.0  {'uid': 'c65835ff048448e3820ebd9f1e676fe1', 'o...
3879  3631144    18930934.0  {'uid': 'e61cb2a5e9c34261a17fb808620260d7', 'o...

[3880 rows x 3 columns]

In [241]:
list_of_categories = [[] for i in range(len(my_podcast_with_data))]
all_categories = []

for i in range(len(my_podcast_with_data)):
    category_i = my_podcast_with_data['data'][i]['categories']
    list_of_categories[i] = my_podcast_with_data['data'][i]['categories']
    all_categories = all_categories + category_i

In [243]:
category_dict = dict(Counter(all_categories))
category_dict

{10004: 977,
 10039: 977,
 10101: 828,
 10102: 74,
 10124: 35,
 10014: 1050,
 10043: 317,
 10001: 1256,
 10044: 291,
 10021: 1055,
 10071: 348,
 10009: 348,
 10059: 286,
 10063: 134,
 10022: 447,
 10103: 131,
 10104: 74,
 10003: 137,
 10035: 137,
 10105: 66,
 10112: 27,
 10013: 86,
 10058: 263,
 10048: 183,
 10073: 36,
 10006: 19,
 10091: 335,
 10012: 376,
 10054: 33,
 10005: 96,
 10040: 83,
 10046: 103,
 10002: 557,
 10028: 546,
 10026: 62,
 10041: 76,
 10036: 15,
 10042: 45,
 10033: 115,
 10125: 180,
 10015: 180,
 10123: 223,
 10008: 234,
 10080: 47,
 10010: 223,
 10075: 223,
 10032: 97,
 10083: 148,
 10011: 148,
 10064: 12,
 10031: 60,
 10127: 14,
 10095: 51,
 10100: 72,
 10107: 85,
 10066: 158,
 10007: 158,
 10082: 33,
 10047: 18,
 10130: 12,
 10070: 33,
 10024: 21,
 10029: 39,
 10045: 16,
 10030: 88,
 10072: 42,
 10092: 12,
 10057: 37,
 10049: 5,
 10090: 25,
 10078: 20,
 10129: 54,
 10061: 10,
 10097: 15,
 10106: 49,
 10117: 25,
 10027: 35,
 10098: 15,
 10023: 65,
 10025: 18,
 10038: 7,
 10128: 8,
 10087: 42,
 10099: 17,
 10050: 5,
 10060: 10,
 10062: 48,
 10068: 29,
 10067: 27,
 10056: 40,
 10074: 30,
 10076: 22,
 10053: 30,
 10077: 14,
 10065: 4,
 10111: 2,
 10079: 4,
 10089: 7,
 10081: 9,
 10096: 6,
 10016: 10,
 10034: 10,
 10094: 6,
 10126: 8,
 10093: 3,
 10085: 12,
 10037: 12,
 10055: 3,
 10109: 3,
 10069: 4,
 10120: 1,
 10122: 1,
 10051: 3,
 10052: 2,
 10121: 1,
 10116: 2}

In [240]:
category_dict = dict(Counter(all_categories))
category_dict
values = list(category_dict.values())
sorted_value_index = np.argsort(values)
sorted_dict = {keyslist[i]: values[i] for i in sorted_value_index}
sorted_dict

{10126: 1,
 10125: 1,
 10129: 1,
 10130: 2,
 10128: 2,
 10103: 2,
 10127: 3,
 10123: 3,
 10122: 3,
 10117: 3,
 10124: 4,
 10102: 4,
 10104: 4,
 10073: 5,
 10092: 5,
 10112: 6,
 10107: 6,
 10105: 7,
 10087: 7,
 10116: 8,
 10089: 8,
 10106: 9,
 10093: 10,
 10111: 10,
 10077: 10,
 10109: 10,
 10054: 12,
 10064: 12,
 10071: 12,
 10120: 12,
 10121: 12,
 10056: 14,
 10101: 14,
 10082: 15,
 10041: 15,
 10078: 15,
 10068: 16,
 10091: 17,
 10063: 18,
 10085: 18,
 10030: 19,
 10075: 20,
 10066: 21,
 10099: 22,
 10074: 25,
 10080: 25,
 10096: 27,
 10025: 27,
 10095: 29,
 10098: 30,
 10100: 30,
 10065: 33,
 10062: 33,
 10033: 33,
 10081: 35,
 10005: 35,
 10029: 36,
 10072: 37,
 10067: 39,
 10097: 40,
 10090: 42,
 10070: 42,
 10042: 45,
 10048: 47,
 10094: 48,
 10079: 49,
 10057: 51,
 10076: 54,
 10055: 60,
 10039: 62,
 10083: 65,
 10024: 66,
 10058: 72,
 10021: 74,
 10004: 74,
 10040: 76,
 10035: 83,
 10059: 85,
 10026: 86,
 10069: 88,
 10034: 96,
 10051: 97,
 10036: 103,
 10043: 115,
 10016: 131,
 10014: 134,
 10023: 137,
 10022: 137,
 10053: 148,
 10052: 148,
 10060: 158,
 10061: 158,
 10044: 180,
 10045: 180,
 10028: 183,
 10050: 223,
 10049: 223,
 10046: 223,
 10047: 234,
 10027: 263,
 10013: 286,
 10009: 291,
 10007: 317,
 10031: 335,
 10011: 348,
 10012: 348,
 10032: 376,
 10015: 447,
 10038: 546,
 10037: 557,
 10003: 828,
 10002: 977,
 10001: 977,
 10006: 1050,
 10010: 1055,
 10008: 1256}

In [244]:
keyslist = list(set(all_categories))
category_dic = {}

for i in range(len(keyslist)):
    category_dic[keyslist[i]] = 0
    
for i in range(len(list_of_categories)):
    for j in range(len(list_of_categories[i])):
        category_dic[list_of_categories[i][j]] +=1
        
values = list(category_dic.values())
sorted_value_index = np.argsort(values)
sorted_dict = {keyslist[i]: values[i] for i in sorted_value_index}
sorted_dict

{10122: 1,
 10121: 1,
 10120: 1,
 10052: 2,
 10111: 2,
 10116: 2,
 10055: 3,
 10093: 3,
 10051: 3,
 10109: 3,
 10065: 4,
 10069: 4,
 10079: 4,
 10050: 5,
 10049: 5,
 10094: 6,
 10096: 6,
 10089: 7,
 10038: 7,
 10126: 8,
 10128: 8,
 10081: 9,
 10060: 10,
 10016: 10,
 10034: 10,
 10061: 10,
 10085: 12,
 10130: 12,
 10064: 12,
 10092: 12,
 10037: 12,
 10077: 14,
 10127: 14,
 10036: 15,
 10097: 15,
 10098: 15,
 10045: 16,
 10099: 17,
 10047: 18,
 10025: 18,
 10006: 19,
 10078: 20,
 10024: 21,
 10076: 22,
 10117: 25,
 10090: 25,
 10112: 27,
 10067: 27,
 10068: 29,
 10074: 30,
 10053: 30,
 10070: 33,
 10054: 33,
 10082: 33,
 10027: 35,
 10124: 35,
 10073: 36,
 10057: 37,
 10029: 39,
 10056: 40,
 10072: 42,
 10087: 42,
 10042: 45,
 10080: 47,
 10062: 48,
 10106: 49,
 10095: 51,
 10129: 54,
 10031: 60,
 10026: 62,
 10023: 65,
 10105: 66,
 10100: 72,
 10102: 74,
 10104: 74,
 10041: 76,
 10040: 83,
 10107: 85,
 10013: 86,
 10030: 88,
 10005: 96,
 10032: 97,
 10046: 103,
 10033: 115,
 10103: 131,
 10063: 134,
 10035: 137,
 10003: 137,
 10083: 148,
 10011: 148,
 10066: 158,
 10007: 158,
 10015: 180,
 10125: 180,
 10048: 183,
 10123: 223,
 10010: 223,
 10075: 223,
 10008: 234,
 10058: 263,
 10059: 286,
 10044: 291,
 10043: 317,
 10091: 335,
 10009: 348,
 10071: 348,
 10012: 376,
 10022: 447,
 10028: 546,
 10002: 557,
 10101: 828,
 10039: 977,
 10004: 977,
 10014: 1050,
 10021: 1055,
 10001: 1256}

In [234]:
# category_dic

In [236]:
for i in range(len(list_of_categories)):
    for j in range(len(list_of_categories[i])):
        category_dic[list_of_categories[i][j]] +=1
        
values = list(category_dic.values())
sorted_value_index = np.argsort(values)
sorted_dict = {keyslist[i]: values[i] for i in sorted_value_index}
sorted_dict

{10122: 2,
 10121: 2,
 10120: 2,
 10052: 4,
 10111: 4,
 10116: 4,
 10055: 6,
 10093: 6,
 10051: 6,
 10109: 6,
 10065: 8,
 10069: 8,
 10079: 8,
 10050: 10,
 10049: 10,
 10094: 12,
 10096: 12,
 10089: 14,
 10038: 14,
 10126: 16,
 10128: 16,
 10081: 18,
 10060: 20,
 10016: 20,
 10034: 20,
 10061: 20,
 10085: 24,
 10130: 24,
 10064: 24,
 10092: 24,
 10037: 24,
 10077: 28,
 10127: 28,
 10036: 30,
 10097: 30,
 10098: 30,
 10045: 32,
 10099: 34,
 10047: 36,
 10025: 36,
 10006: 38,
 10078: 40,
 10024: 42,
 10076: 44,
 10117: 50,
 10090: 50,
 10112: 54,
 10067: 54,
 10068: 58,
 10074: 60,
 10053: 60,
 10070: 66,
 10054: 66,
 10082: 66,
 10027: 70,
 10124: 70,
 10073: 72,
 10057: 74,
 10029: 78,
 10056: 80,
 10072: 84,
 10087: 84,
 10042: 90,
 10080: 94,
 10062: 96,
 10106: 98,
 10095: 102,
 10129: 108,
 10031: 120,
 10026: 124,
 10023: 130,
 10105: 132,
 10100: 144,
 10102: 148,
 10104: 148,
 10041: 152,
 10040: 166,
 10107: 170,
 10013: 172,
 10030: 176,
 10005: 192,
 10032: 194,
 10046: 206,
 10033: 230,
 10103: 262,
 10063: 268,
 10035: 274,
 10003: 274,
 10083: 296,
 10011: 296,
 10066: 316,
 10007: 316,
 10015: 360,
 10125: 360,
 10048: 366,
 10123: 446,
 10010: 446,
 10075: 446,
 10008: 468,
 10058: 526,
 10059: 572,
 10044: 582,
 10043: 634,
 10091: 670,
 10009: 696,
 10071: 696,
 10012: 752,
 10022: 894,
 10028: 1092,
 10002: 1114,
 10101: 1656,
 10039: 1954,
 10004: 1954,
 10014: 2100,
 10021: 2110,
 10001: 2512}

In [237]:
#list_of_categories

In [201]:
def categories(user_id):
    
    categories=[]
    
    podcaster_id_s = followers.loc[user_id]['podcaster_id'].tolist()
    
    index = my_podcast_with_data[my_podcast_with_data['podcaster_id'].isin(podcaster_id_s)].index.values.tolist() 
    
    for i in range(len(index)):
        categories = categories + list_of_categories[index[i]]
        
    sorted_categories = [key for key, value in Counter(categories).most_common()]
    
    return sorted_categories

In [187]:
list_of_user_ids = list(set(followers.index.values.tolist()))

In [193]:
list_of_users_category = [[] for i in range(len(list_of_user_ids))]

In [207]:
# for i, user_id in tqdm(enumerate(list_of_user_ids)):
#     list_of_users_category[i] = categories(user_id)

In [204]:
list_of_user_ids[1]

25165828

In [206]:
podcaster_id_s = followers.loc[user_id]['podcaster_id'].tolist()
podcaster_id_s

15814516

In [209]:
# a = dict(Counter(MyList))

In [210]:
follower_user_id_s = followers.index.values.tolist()

In [212]:
len(follower_user_id_s)

24854737

In [213]:
user_sub = dict(Counter(follower_user_id_s))

In [218]:
df = pd.DataFrame(list(user_sub.items()), columns=['user_id', 'following'])

In [219]:
df

          user_id  following
0        38719947         20
1        37434280         11
2        22013860        185
3        28885466         40
4        30848189         58
...           ...        ...
4316441  20988834          1
4316442  23768266          1
4316443  21034578          1
4316444  19144548          1
4316445  18734387          1

[4316446 rows x 2 columns]

In [223]:
df[df['following'] > 2]

          user_id  following
0        38719947         20
1        37434280         11
2        22013860        185
3        28885466         40
4        30848189         58
...           ...        ...
4283154  18019173          3
4284894  32508214          3
4285350  27401567          3
4285960  21787383          3
4287965  32626971          3

[2907190 rows x 2 columns]