In [195]:
import numpy as np
import pandas as pd
from collections import Counter
from tqdm import tqdm as tqdm

In [174]:
followers_df = pd.read_csv("/Users/marzie/Documents/Data/followers_df.csv")
followers = followers_df[['user_id', 'podcaster_id']].set_index('user_id')
followers.head()

          podcaster_id
user_id
38719947      21543729
37434280      21543729
22013860      21543729
28885466      21543729
30848189      21543729

In [175]:
all_podcasts_with_channel = pd.read_json("all_podcasts_with_channel.json")
all_podcasts_with_channel.rename(columns= {'user_suid':'podcaster_id'}, inplace = True)
all_podcasts = all_podcasts_with_channel[['cid', 'podcaster_id', 'data']].set_index('cid')
all_podcasts.head()

         podcaster_id                                               data
cid
2598530    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...
4894772    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1423226     7697322.0  {'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...
1482589    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...
2356600    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...

In [176]:
my_podcasts = pd.read_csv('my_podcasts_df.csv')
my_cids_list = my_podcasts['cid'].tolist()

In [177]:
my_podcast_with_data = all_podcasts.loc[my_cids_list].reset_index()
my_podcast_with_data

          cid  podcaster_id                                               data
0     4894772    17293748.0  {'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...
1     2356600    16024112.0  {'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...
2     4857685    16682348.0  {'uid': 'b188e784539c480c84c173b29675e858', 'e...
3     2748108    14199420.0  {'uid': 'af088f29b89a422198b86988b2619c4f', 'e...
4     2400145    15814516.0  {'uid': '8097ad5aa05d4e9eba396743f11c658d', 'e...
...       ...           ...                                                ...
3875  5423676    20495886.0  {'uid': '4cc555ff69ed431a94c7b7cffb7fd91d', 'o...
3876  2131745    13501707.0  {'uid': '68d77f432d5d4ae29029f266b3cabd61', 'e...
3877  4711535    24170434.0  {'uid': '18a9ef1a3bf447e7b26f315796842ab3', 'e...
3878  5297748    18840456.0  {'uid': 'c65835ff048448e3820ebd9f1e676fe1', 'o...
3879  3631144    18930934.0  {'uid': 'e61cb2a5e9c34261a17fb808620260d7', 'o...

[3880 rows x 3 columns]

In [178]:
list_of_categories = [[] for i in range(len(my_podcast_with_data))]
all_categories = []

for i in range(len(my_podcast_with_data)):
    category_i = my_podcast_with_data['data'][i]['categories']
    list_of_categories[i] = my_podcast_with_data['data'][i]['categories']
    all_categories = all_categories + category_i

In [179]:
keyslist = list(set(all_categories))
category_dic = {}

for i in range(len(keyslist)):
    category_dic[keyslist[i]] = 0

In [180]:
category_dic[list_of_categories[0][0]]

0

In [181]:
for i in range(len(list_of_categories)):
    for j in range(len(list_of_categories[i])):
        category_dic[list_of_categories[i][j]] +=1
        
values = list(category_dic.values())
sorted_value_index = np.argsort(values)
sorted_dict = {keyslist[i]: values[i] for i in sorted_value_index}
#sorted_dict

In [182]:
#list_of_categories

In [201]:
def categories(user_id):
    
    categories=[]
    
    podcaster_id_s = followers.loc[user_id]['podcaster_id'].tolist()
    
    index = my_podcast_with_data[my_podcast_with_data['podcaster_id'].isin(podcaster_id_s)].index.values.tolist() 
    
    for i in range(len(index)):
        categories = categories + list_of_categories[index[i]]
        
    sorted_categories = [key for key, value in Counter(categories).most_common()]
    
    return sorted_categories

In [187]:
list_of_user_ids = list(set(followers.index.values.tolist()))

In [193]:
list_of_users_category = [[] for i in range(len(list_of_user_ids))]

In [207]:
# for i, user_id in tqdm(enumerate(list_of_user_ids)):
#     list_of_users_category[i] = categories(user_id)

In [204]:
list_of_user_ids[1]

25165828

In [206]:
podcaster_id_s = followers.loc[user_id]['podcaster_id'].tolist()
podcaster_id_s

15814516

In [209]:
# a = dict(Counter(MyList))

In [210]:
follower_user_id_s = followers.index.values.tolist()

In [212]:
len(follower_user_id_s)

24854737

In [213]:
user_sub = dict(Counter(follower_user_id_s))

In [218]:
df = pd.DataFrame(list(user_sub.items()), columns=['user_id', 'following'])

In [219]:
df

          user_id  following
0        38719947         20
1        37434280         11
2        22013860        185
3        28885466         40
4        30848189         58
...           ...        ...
4316441  20988834          1
4316442  23768266          1
4316443  21034578          1
4316444  19144548          1
4316445  18734387          1

[4316446 rows x 2 columns]

In [223]:
df[df['following'] > 2]

          user_id  following
0        38719947         20
1        37434280         11
2        22013860        185
3        28885466         40
4        30848189         58
...           ...        ...
4283154  18019173          3
4284894  32508214          3
4285350  27401567          3
4285960  21787383          3
4287965  32626971          3

[2907190 rows x 2 columns]