In [3]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm as tqdm

# followers

<div dir=rtl >
<font  size=3>
هر کدام از فایل‌هایی که در پوشه followers قرار دارد، مربوط به یک پادکستر است، که حاوی این اطلاعات است که کدام کاربران در چه زمانی این پادکستر را دنبال کردند.

In [5]:
#this is the path to followers file on my computer
path = "/Users/marzie/Documents/Data/followers"

In [31]:
#get the list of all files in followers folder
list_of_podcasters = os.listdir(path)

'21543729.json'

In [11]:
first_podcaster = pd.read_json(os.path.join(path, list_of_podcasters[0]))
first_podcaster.head()

       suid  size  error                                               data
0  21543729   207  False  {'is_followed': False, 'name': 'mahdi mk98', '...
1  21543729   207  False  {'is_followed': False, 'name': 'Tahereh Khadem...
2  21543729   207  False  {'is_followed': False, 'name': 'Morad Hosseinz...
3  21543729   207  False  {'is_followed': False, 'name': 'Saeideh Souri'...
4  21543729   207  False  {'is_followed': False, 'name': 'Shabnam Behesh...

In [14]:
first_podcaster['data'][0]

{'is_followed': False,
 'name': 'mahdi mk98',
 'suid': 38719947,
 'picture_url': 'https://lh3.googleusercontent.com/a/ACg8ocK1VrS-1ChdZaGG5u-OWV2n6k7A11St1z7zY2BX2zMemg=s96-c',
 'op_time': 1703757688147,
 'email': 'paradox.mk98@gmail.com',
 'uid': 'e0709873292f4eca9a7787980eb91cd7'}

<div dir=rtl >
<font  size=3>
suid که ستون اصلی دیتاست است همان id پادکستر است و suid مربوط به ستون data  در اینجا تعداد دنبال کنند‌های پادکستر است.
op_time در قسمت data نیز زمان دنبال کردن کاربر را نشان می‌دهد.

## create followers dataframe

In [16]:
columns_name = ['podcaster_id', 'user_id', 'op_time']

In [20]:
old_df = pd.DataFrame(columns=columns_name)

for i in tqdm(range(len(list_of_podcasters))):
    
    podcaster = pd.read_json(os.path.join(path, list_of_podcasters[i]))
    
    podcaster_size = len(podcaster)
    
    if podcaster_size != 0:
    
        podcaster_id = podcaster['suid'][0]
        podcaster_data = np.array([
            [podcaster_id for j in range(podcaster_size)],
            [podcaster['data'][j]['suid'] for j in range(podcaster_size)],
            [podcaster['data'][j]['op_time'] for j in range(podcaster_size)]
        ]).swapaxes(0, 1)
                            
        podcaster_df = pd.DataFrame(data=podcaster_data, columns=columns_name)
    
        new_df = pd.concat([old_df, podcaster_df], axis=0)
    
        old_df = new_df

100%|███████████████████████████████████████| 3419/3419 [17:05<00:00,  3.33it/s]

In [22]:
new_df

   podcaster_id   user_id        op_time
0      21543729  38719947  1703757688147
1      21543729  37434280  1702870980668
2      21543729  22013860  1702775246862
3      21543729  28885466  1702334085292
4      21543729  30848189  1699613185882
..          ...       ...            ...
19     18385784  23356976  1642597446748
20     18385784  21762370  1639564509477
21     18385784  11046796  1639564427873
22     18385784  11486103  1639374944821
23     18385784   9521616  1597749620239

[24854737 rows x 3 columns]

In [27]:
new_df.to_csv("/Users/marzie/Documents/Data/followers_df.csv")

# all podcasts with channel

<div dir=rtl >
<font  size=3>
در فایل all_podcasts_with_channel.json اطلاعات مربوط به پادکست‌های مختلف وجود دارد و user_suid در اینجا id پادکستر است و cid در واقع id پادکست است.

In [4]:
all_podcasts = pd.read_json('/Users/marzie/Documents/Data/all_podcasts_with_channel.json')
all_podcasts.rename(columns= {'user_suid':'podcaster_id'}, inplace = True)
all_podcasts

,index,cid,data,podcaster_id
0,0,2598530,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...",17293748.0
1,1,4894772,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...",17293748.0
2,2,1423226,"{'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...",7697322.0
3,3,1482589,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...",16024112.0
4,4,2356600,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...",16024112.0
...,...,...,...,...
11685,15617,5555920,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0
11686,15618,5574434,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0
11687,15619,5643972,"{'uid': '22232cbc34df46dab695614c42cfd037', 'e...",24138607.0
11688,15620,5655619,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0
11689,15621,5670506,"{'uid': '75d5d175dd90490883e092b9bdd09bc7', 'e...",29998825.0

In [5]:
all_podcasts['data'][0]

{'uid': '0e242cb9dea94a00aa50efbf010fc0c5',
 'obsolete': '7b05f062883f3dd7f7260c30c3af97e64312b207',
 'episode_count': 120,
 'x_play_base': 0,
 'stat_cover_ext_color': False,
 'keywords': ['Education'],
 'cover_ext_color': '-15198184',
 'mongo_id': '5e319bf2e3b65d59b04e8e1a',
 'show_id': '5e319bf2e3b65d59b04e8e1a',
 'copyright': 'Copyright 2022 All rights reserved.',
 'author': 'رادیو راه',
 'is_key_channel': False,
 'audiobook_categories': [],
 'user_info': {'suid': 17293748,
  'picture_url': 'https://s3.castbox.fm/d8/45/10/f36808446f916965d108e0c808.jpg',
  'email': 'toseefardi@gmail.com',
  'name': 'رادیو راه',
  'uid': '0e242cb9dea94a00aa50efbf010fc0c5'},
 'comment_count': 36355,
 'website': 'https://RadioRaah.podbean.com',
 'rss_url': 'https://anchor.fm/s/13405db8/podcast/rss',
 'description': 'رادیوراه کنج آرامی از دنیاست برای خواندن، فکر کردن و جستجوی راهی برای بهتر زیستن.',
 'tags': ['evst-user-add', 'evst-review-passed', 'from-itunes'],
 'editable': True,
 'play_count': 39677304,
 'link': 'https://RadioRaah.podbean.com',
 'categories': [10004, 10039],
 'x_subs_base': 0,
 'small_cover_url': 'https://deow9bq0xqvbj.cloudfront.net/image-logo/14003869/raah_mnutyn.jpg',
 'big_cover_url': 'https://deow9bq0xqvbj.cloudfront.net/image-logo/14003869/raah_mnutyn.jpg',
 'language': 'fa',
 'cid': 2598530,
 'latest_eid': 621835356,
 'release_date': '2023-08-03T10:11:46Z',
 'title': 'رادیو راه با مجتبی شکوری',
 'uri': '/ch/2598530',
 'https_cover_url': 'https://deow9bq0xqvbj.cloudfront.net/image-logo/14003869/raah_mnutyn.jpg',
 'channel_type': 'private',
 'channel_id': '2f09d00768f4eb45a6993a223804b9feaa130c4f',
 'sub_count': 776663,
 'primary_cid': 4894772,
 'internal_product_id': 'cb.ch.2598530',
 'social': {'website': 'https://RadioRaah.podbean.com',
  'youtube': [{'name': 'mojtabashakoori'}],
  'instagram': [{'name': 'mojtaba_shakoori'}]}}

In [6]:
all_podcasts['data'][0].keys()

dict_keys(['uid', 'obsolete', 'episode_count', 'x_play_base', 'stat_cover_ext_color', 'keywords', 'cover_ext_color', 'mongo_id', 'show_id', 'copyright', 'author', 'is_key_channel', 'audiobook_categories', 'user_info', 'comment_count', 'website', 'rss_url', 'description', 'tags', 'editable', 'play_count', 'link', 'categories', 'x_subs_base', 'small_cover_url', 'big_cover_url', 'language', 'cid', 'latest_eid', 'release_date', 'title', 'uri', 'https_cover_url', 'channel_type', 'channel_id', 'sub_count', 'primary_cid', 'internal_product_id', 'social'])

## creat all podcasts dataframe

<div dir=rtl >
<font  size=3>
از ستون data اطلاعاتی نظیر title، sub_count، episode_count و primary_cid را نگه می‌داریم.
همه‌ی پادکست‌ها primary_cid ندارند بنابراین ابتدا دیتافریمی از پادکست‌هایی که primary_cid دارند می‌سازیم.

In [10]:
is_primary_cid_in = np.zeros(len(all_podcasts), dtype=bool)
primary_cids = np.zeros(len(all_podcasts), dtype=int)
cids = np.zeros(len(all_podcasts), dtype=int)

for i in range(len(all_podcasts)):
    is_primary_cid_in[i] = ('primary_cid' in all_podcasts['data'][i].keys())
    if is_primary_cid_in[i]:
        primary_cids[i] = all_podcasts['data'][i]['primary_cid']
        cids[i] = all_podcasts['cid'][i]

In [20]:
primary_cids_data = np.array([cids[cids!=0], primary_cids[primary_cids!=0]]).swapaxes(0, 1)
columns_name = ['cid', 'primary_cid']
primary_cids_df = pd.DataFrame(columns=columns_name, data=primary_cids_data)
primary_cids_df

         cid  primary_cid
0    2598530      4894772
1    1482589      2356600
2    2356152      2356600
3    5628636      2356600
4    2856532      4945126
..       ...          ...
926  4433624      5091858
927  4537314      5078499
928  4893984      5569322
929  5248742      5231366
930  5343798      4935191

[931 rows x 2 columns]

In [9]:
len_all_podcasts = len(all_podcasts)

all_podcasts_data = np.array([
    [all_podcasts['cid'][i] for i in range(len_all_podcasts)],
    [all_podcasts['podcaster_id'][i] for i in range(len_all_podcasts)], 
    [all_podcasts['data'][i]['title'] for i in range(len_all_podcasts)],
    [all_podcasts['data'][i]['episode_count'] for i in range(len_all_podcasts)],
    [all_podcasts['data'][i]['sub_count'] for i in range(len_all_podcasts)],
]).swapaxes(0, 1)

In [31]:
columns_name = ['cid', 'podcaster_id', 'title', 'episode_count', 'sub_count']
all_podcasts_df1 = pd.DataFrame(data=all_podcasts_data, columns=columns_name)
all_podcasts_df1['cid'] = all_podcasts_df1['cid'].astype(int)
all_podcasts_df1['podcaster_id'] = all_podcasts_df1['podcaster_id'].astype(float)
all_podcasts_df1['episode_count'] = all_podcasts_df1['episode_count'].astype(int)
all_podcasts_df1['sub_count'] = all_podcasts_df1['sub_count'].astype(int)
all_podcasts_df1.head()

       cid  podcaster_id                     title  episode_count  sub_count
0  2598530    17293748.0  رادیو راه با مجتبی شکوری            120     776663
1  4894772    17293748.0  رادیو راه با مجتبی شکوری            120    1468883
2  1423226     7697322.0                   Ehsanoo             31      68543
3  1482589    16024112.0     ChannelB پادکست فارسی             96      30996
4  2356600    16024112.0     ChannelB پادکست فارسی             96     931763

In [32]:
all_podcasts_df = all_podcasts_df1.join(primary_cids_df.set_index('cid'), on='cid')
all_podcasts_df

,cid,podcaster_id,title,episode_count,sub_count,primary_cid
0,2598530,17293748.0,رادیو راه با مجتبی شکوری,120,776663,4894772.0
1,4894772,17293748.0,رادیو راه با مجتبی شکوری,120,1468883,NaN
2,1423226,7697322.0,Ehsanoo,31,68543,NaN
3,1482589,16024112.0,ChannelB پادکست فارسی,96,30996,2356600.0
4,2356600,16024112.0,ChannelB پادکست فارسی,96,931763,NaN
...,...,...,...,...,...,...
11685,5555920,29998825.0,یک پرونده,20,80,NaN
11686,5574434,29998825.0,گوشِچشم,19,552,NaN
11687,5643972,24138607.0,RAD,3,13,NaN
11688,5655619,29998825.0,سینما سانسور,5,284,NaN
11689,5670506,29998825.0,گنج‌نامه,7,91,NaN

In [45]:
all_podcasts_df.to_csv("/Users/marzie/Documents/Data/all_podcasts_df.csv")

## create my_podcasters dataframe

<div dir=rtl >
<font  size=3>
در all_podcasts اطلاعات مربوط به تمامی پادکست‌ها وجود دارد، اما ما تنها به اطلاعات پادکست‌هایی نیاز داریم که پادکستر پشت آن در followers_df وجود دارد. در گام اول دیتافریمی از پادکسترهای مد نظرمان می‌سازیم که حاوی اطلاعاتی از قبیل نام و id پادکستر باشد.

In [33]:
followers_df = pd.read_csv("/Users/marzie/Documents/Data/followers_df.csv")

In [38]:
podcaster_id_s = followers_df['podcaster_id'].unique()

In [39]:
podcaster_with_name_data = np.array([
    [all_podcasts['data'][i].get('user_info', {}).get('suid', None) for i in range(len(all_podcasts))],
    [all_podcasts['data'][i].get('user_info', {}).get('name', None) for i in range(len(all_podcasts))]
]).swapaxes(0, 1)

In [47]:
podcaster_with_name = pd.DataFrame(podcaster_with_name_data, columns=['podcaster_id', 'name'])
my_podcaster_df = podcaster_with_name.loc[podcaster_with_name['podcaster_id'].isin(podcaster_id_s)].drop_duplicates()
my_podcaster_df['podcaster_id'] = my_podcaster_df['podcaster_id'].astype(int)
my_podcaster_df

       podcaster_id                                          name
0          17293748                                     رادیو راه
2           7697322                               Ehsanoo Podcast
3          16024112                              ChannelB Podcast
7          19016209                            Banafsheh Taherian
9          15814516                                  سپهر خدابنده
...             ...                                           ...
11654      11096654                                pooriya sabour
11658      20008174                                Hayaho | هیاهو
11676      25546703                                     Ali Fazel
11677      25363532  گزیده پادکست فارسی Persian Podcast Selection
11687      24138607                                      shahinas

[3325 rows x 2 columns]

In [48]:
my_podcaster_df.to_csv("/Users/marzie/Documents/Data/my_podcaster_df.csv")