In [1]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm as tqdm

## followers

<div dir=rtl >
<font  size=3>
هر کدام از فایل‌هایی که در پوشه followers قرار دارد، مربوط به یک پادکستر است، که حاوی این اطلاعات است که کدام کاربران در چه زمانی این پادکستر را دنبال کردند.

In [5]:
#this is the path to followers file on my computer
path = "/Users/marzie/Documents/Data/followers"

In [4]:
#get the list of all files in followers folder
list_of_podcasters = os.listdir(path)

In [11]:
first_podcaster = pd.read_json(os.path.join(path, list_of_podcasters[0]))
first_podcaster.head()

       suid  size  error                                               data
0  21543729   207  False  {'is_followed': False, 'name': 'mahdi mk98', '...
1  21543729   207  False  {'is_followed': False, 'name': 'Tahereh Khadem...
2  21543729   207  False  {'is_followed': False, 'name': 'Morad Hosseinz...
3  21543729   207  False  {'is_followed': False, 'name': 'Saeideh Souri'...
4  21543729   207  False  {'is_followed': False, 'name': 'Shabnam Behesh...

In [15]:
print(first_podcaster.keys())
print(first_podcaster['data'][0].keys())

Index(['suid', 'size', 'error', 'data'], dtype='object')
dict_keys(['is_followed', 'name', 'suid', 'picture_url', 'op_time', 'email', 'uid'])

In [14]:
first_podcaster['data'][0]

{'is_followed': False,
 'name': 'mahdi mk98',
 'suid': 38719947,
 'picture_url': 'https://lh3.googleusercontent.com/a/ACg8ocK1VrS-1ChdZaGG5u-OWV2n6k7A11St1z7zY2BX2zMemg=s96-c',
 'op_time': 1703757688147,
 'email': 'paradox.mk98@gmail.com',
 'uid': 'e0709873292f4eca9a7787980eb91cd7'}

<div dir=rtl >
<font  size=3>
suid که ستون اصلی دیتاست است همان id پادکستر است و suid مربوط به ستون data  در اینجا تعداد دنبال کنند‌های پادکستر است.
op_time در قسمت data نیز زمان دنبال کردن کاربر را نشان می‌دهد.

## Maka followers dataframe

In [16]:
columns_name = ['podcaster_id', 'user_id', 'op_time']

In [20]:
old_df = pd.DataFrame(columns=columns_name)

for i in tqdm(range(len(list_of_podcasters))):
    
    podcaster = pd.read_json(os.path.join(path, list_of_podcasters[i]))
    
    podcaster_size = len(podcaster)
    
    if podcaster_size != 0:
    
        podcaster_id = podcaster['suid'][0]
        podcaster_data = np.array([
            [podcaster_id for j in range(podcaster_size)],
            [podcaster['data'][j]['suid'] for j in range(podcaster_size)],
            [podcaster['data'][j]['op_time'] for j in range(podcaster_size)]
        ]).swapaxes(0, 1)
                            
        podcaster_df = pd.DataFrame(data=podcaster_data, columns=columns_name)
    
        new_df = pd.concat([old_df, podcaster_df], axis=0)
    
        old_df = new_df

100%|███████████████████████████████████████| 3419/3419 [17:05<00:00,  3.33it/s]

In [22]:
new_df

   podcaster_id   user_id        op_time
0      21543729  38719947  1703757688147
1      21543729  37434280  1702870980668
2      21543729  22013860  1702775246862
3      21543729  28885466  1702334085292
4      21543729  30848189  1699613185882
..          ...       ...            ...
19     18385784  23356976  1642597446748
20     18385784  21762370  1639564509477
21     18385784  11046796  1639564427873
22     18385784  11486103  1639374944821
23     18385784   9521616  1597749620239

[24854737 rows x 3 columns]

In [ ]:
new_df.to_csv("followers_df.csv")