In [1]:
import numpy as np
import pandas as pd

In [4]:
all_podcasts_with_channel = pd.read_json("all_podcasts_with_channel.json")
all_podcasts_with_channel.head()

,index,cid,data,user_suid
0,0,2598530,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'o...",17293748.0
1,1,4894772,"{'uid': '0e242cb9dea94a00aa50efbf010fc0c5', 'e...",17293748.0
2,2,1423226,"{'uid': 'c4dad8b7604c48f1aecd8f08105dca6f', 'e...",7697322.0
3,3,1482589,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'o...",16024112.0
4,4,2356600,"{'uid': 'd62534a4513e46428378e198ffd1ce9a', 'e...",16024112.0